@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  background-color: #151515;
  padding: 40px 0px 45px 0px;
}
.header__inner {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  -moz-column-gap: auto;
       column-gap: auto;
  justify-content: space-between;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.logo {
  margin-right: 40px;
}
.menu__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
}
.menu__list-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: #151515;
  padding: 50px 0px 32px 0px;
  color: #ffffff;
}
.footer a {
  color: inherit;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
}
.footer__menu--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 120.8333333333%;
}
.footer__menu--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  max-width: 225px;
}
.footer__menu--list p {
  margin-bottom: 20px;
}
.footer__copy {
  text-align: center;
  max-width: 806px;
  font-size: 12px;
  line-height: 121%;
  margin: 0 auto 30px;
}

.appps__links {
  margin: 50px 0px;
  display: flex;
  gap: 39px;
  justify-content: center;
}

.copy__nav-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}