@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.header {
  background-color: #151515;
  padding: 40px 0px 45px 0px;
  &__main {
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: auto;
    justify-content: space-between;
  }
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}
.logo {
  margin-right: 40px;
  &__img {
  }
}
.menu {
  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    align-items: center;
  }

  &__list-item {
  }

  &__list-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
//-----main----//
.main {
  flex-grow: 1;
}
//-----footer----//
.footer {
  background-color: #151515;
  padding: 50px 0px 32px 0px;
  color: #ffffff;
  a {
    color: inherit;
  }

  &__menu {
    display: flex;
    justify-content: space-around;
  }
  &__menu--item {
  }
  &__menu--title {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(29 / 24) * 100%;
  }

  &__menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20.8 / 16) * 100%;
    max-width: 225px;
    p {
      margin-bottom: 20px;
    }
  }
  &__copy {
    text-align: center;
    max-width: 806px;
    font-size: 12px;
    line-height: calc(14.52 / 12) * 100%;
    margin: 0 auto 30px;
  }
}
.appps__links {
  margin: 50px 0px;
  display: flex;
  gap: 39px;
  justify-content: center;
}
.copy__nav-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}
